.mainContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.image {
  object-fit: cover;
}

.content {
}

.block-title {
  font-size: 2rem;
  color: gainsboro;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
}

.block-desc {
  font-size: 1rem;
  font-size: 18px;
  color: #999;
}
.text-style {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
